.dashboard-container{

    padding:30px;

    background:#f5f7fb;

    min-height:100vh;

    margin-top: 62px;

}

.dashboard-title{

    font-size:32px;

    font-weight:700;

    color:#1e293b;

    margin-bottom:8px;

}

.dashboard-subtitle{

    font-size:17px;

    color:#64748b;

    margin-bottom:30px;

}

.dashboard-card{

    padding:25px;

    border-radius:15px;

    transition:.3s;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    cursor:pointer;

    background:#fff;

}

.dashboard-card:hover{

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.card-title{

    font-size:17px;

    color:#64748b;

    margin-bottom:12px;

    font-weight:600;

}

.card-value{

    font-size:24px;

    font-weight:700;

    color:#2563eb;

}

@media(max-width:768px){

.dashboard-container{

padding:15px;

}

.dashboard-title{

font-size:26px;

}

.card-value{

font-size:20px;

}

}